appdirs==1.4.4
cfgv==3.2.0
distlib==0.3.1
filelock==3.0.12
identify==1.5.10
nodeenv==1.5.0
pre-commit==2.9.0
prompt-toolkit==3.0.8
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
virtualenv==20.2.1
wcwidth==0.2.5
